.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  padding: $MOBILE_BUTTON_PADDING;
  font-size: $MOBILE_BUTTON_FONT_SIZE;
  line-height: $MOBILE_BUTTON_FONT_SIZE;
  transition: $TRANSITION_DURATION $TRANSITION_TIMING;
  font-weight: 700;

  &--primary {
    background: $BRAND_ACCENT;
    color: $BRAND_LIGHT;
    border: 1px solid transparent;
    &:focus,
    &:hover {
      background: $BRAND_LIGHT;
      color: $BRAND_ACCENT;
      border-color: $BRAND_ACCENT;
    }
  }
  &--secondary {
    background: $BRAND_LIGHT;
    color: $BRAND_ACCENT;

    &:hover,
    &:focus {
      background: $BRAND_ACCENT;
      color: $BRAND_LIGHT;
    }
  }
}

@include media-query($medium-up) {
  .button {
    padding: $DESKTOP_BUTTON_PADDING;
    font-size: $DESKTOP_BUTTON_FONT_SIZE;
    line-height: $DESKTOP_BUTTON_LINE_HEIGHT;
  }
}
