/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

/**
 * Sale Tag Font Sizes
 */
$sale_tag: 1.4rem;
$sale_tag_lh: 1.7rem;
$sale_tag_top: 10px;
$sale_tag_right: 10px;

/**
 * Component Copy Font Sizes
 */
$mobile_copy: 1.4rem;
$mobile_copy_lh: 2.1rem;
$desktop_copy: 1.8rem;
$desktop_copy_lh: 2.6rem;

/**
 * Price Font Sizes
 */
$mobile_price: 1.8rem;
$mobile_price_lh: 1.8rem;
$desktop_price: 1.8rem;
$desktop_price_lh: 2.6rem;

/**
 * Common margin spacing 
 */
$margin_bottom_spacing: 18px;

/**
 * Product Widths
 */
$mobile_product_size: 100%;
$tablet_product_size: 50%;
$desktop_product_size: 25%;

/**
 * Add to cart button padding 
 */
$cart_spacing: 18px;

.featured-collection {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;

  &__products {
    margin-bottom: 32px;
  }
  &__product {
    width: $mobile_product_size;
    text-decoration: none;
    &:focus,
    &:hover {
      .featured-collection__cart {
        opacity: 1;
      }
    }
  }
  &__thumbnail {
    position: relative;
    margin-bottom: $margin_bottom_spacing;
    img {
      width: 100%;
    }
  }
  &__cart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: $cart_spacing;
    width: calc(#{$mobile_product_size} - (#{$cart_spacing} * 2));
    opacity: 0;
    &.added {
      background: $BRAND_ACCENT;
      color: $BRAND_LIGHT;
      opacity: 1;
    }
  }
  &__tag {
    position: absolute;
    top: $sale_tag_top;
    right: $sale_tag_right;
    font-size: $sale_tag;
    line-height: $sale_tag_lh;
    color: $BRAND_LIGHT;
    background: $BRAND_ACCENT;
    font-weight: $FONT_WEIGHT_BOLD;
    padding: 5px;
    width: 56px;
    text-align: center;
  }
  &__header {
    max-width: 611px;
    margin: 0 auto 28px;
    text-align: center;
  }
  &__heading {
    color: $BRAND_ACCENT;
    font-size: $MOBILE_HEADING_1;
    line-height: $MOBILE_HEADING_LH_1;
    padding-top: 30px;
    margin-bottom: 8px;
  }
  &__title {
    color: $BRAND_ACCENT;
    font-size: $MOBILE_HEADING_4;
    line-height: $MOBILE_HEADING_LH_4;
    font-weight: $FONT_WEIGHT_BOLD;
    margin-bottom: $margin_bottom_spacing;
  }
  &__copy {
    margin-bottom: 19px;
    font-size: $mobile_copy;
    line-height: $mobile_copy_lh;
    color: $BODY_COPY;
    font-weight: $FONT_WEIGHT_NORMAL;
  }
  &__price {
    color: $BODY_COPY;
    font-size: $mobile_price;
    line-height: $mobile_price_lh;
    font-weight: $FONT_WEIGHT_NORMAL;
  }
  &__footer {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  @include media-query($medium-up) {
    &__header {
      margin-bottom: 41px;
    }
    &__heading {
      font-size: $DESKTOP_HEADING_1;
      line-height: $DESKTOP_HEADING_LH_1;
      padding-top: 60px;
      margin-bottom: $margin_bottom_spacing;
    }
    &__products {
      padding: 0 39px;
    }
    &__product {
      padding: 0 11px;
      width: $tablet_product_size;
    }
    &__thumbnail {
      margin-bottom: 16px;
    }
    &__title {
      font-size: $DESKTOP_HEADING_5;
      line-height: $DESKTOP_HEADING_LH_5;
      margin-bottom: 10px;
    }
    &__copy,
    &__price {
      font-size: $desktop_price;
      line-height: $desktop_price_lh;
    }
    &__footer {
      padding-top: 47px;
    }
  }

  @include media-query($large-up) {
    &__product {
      width: $desktop_product_size;
    }
  }
}
